@import url('https://fonts.googleapis.com/css?family=Anton');

.btn {
	float: left;
	width: 165px;
	margin: 18px;
	border: 2px solid #000;
	outline: none;
	padding: 15px;
	background-color: #fff;

	text-transform: uppercase;
	font-family: "Anton", arial;
	font-size: 20px;
	color: #000;
	letter-spacing: 0.12em;

	cursor: pointer;
}

.btn:hover, .active {
	background-color: #000;
	color: #fff;
}