:global #root {
	width: 1200px;
	margin: 0 auto;
}

.btn_wrapper {
	width: 402px;
	margin: 0 auto;
	overflow: hidden;
}

.feed_list {
	width: 100%;
	overflow: hidden;
}

.feed_item {
	float: left;
	width: 320px;
	height: 320px;
	margin: 40px;
	opacity: 1;
	transition: all, .3s;
}

.feed_image {
	width: 100%;
	height: 100%;
	transition: all, .3s;
	object-fit: cover;
}

.feed_image:hover {
	transform: scale(1.1);
	transition: all, .15s;
}

.loading {
	opacity: 0;
}